:root{
    --text-color: #4b4948;
    --secondary-color: #ffb524;
}
/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}
h5{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4b4948
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background:var(--secondary-color);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    
}


/*** featurs End ***/